* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.anime-image {
  width: 100px;
  height: 100px;
}

.anime-card-skeleton {
  animation: skeleton-pulse 1s infinite;
}

@keyframes skeleton-pulse {
  0% {
    background-color: rgba(0, 0, 0, 0.1);
  }

  50% {
    background-color: rgba(0, 0, 0, 0.3);
  }

  100% {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
